<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <title>resize the window</title>
    <%= javascript_include_tag "dygraph-combined" %>
    <!--[if IE]>
    <script type="text/javascript" src="../excanvas.js"></script>
    <![endif]-->
    <!--
    For production (minified) code, use:
    <script type="text/javascript" src="dygraph-combined.js"></script>
    -->
  


    <style type="text/css">
    #div_g {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 40px;
      bottom: 10px;
    }
    </style>
  </head>
  <body>
    <h1>stats</h1>
    <div id="div_g"></div>

    <script type="text/javascript">
      g = new Dygraph(
            document.getElementById("div_g"),
            "https://dl.dropboxusercontent.com/u/1166368/temperature.csv", {
                  errorBars: true
            }
          );
    </script>
  </body>
</html>